{% extends "encyclopedia/layout.html" %} {% block title %} Add New Entry
{%endblock %} {% block body %}

<div class="col ml-2">
  <h1>Add New Encyclopedia</h1>
  <form class="col-10 ml-2" action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <label for="entry_title" class="form-label">Encyclopedia Title </label>
    <input class="form-control mb-4" name="entry_title" type="text" />
    <label for="entry_content" class="form-label">Markdown Content </label>
    <textarea
      name="entry_content"
      class="form-control mb-4"
      cols="30"
      rows="10"
    ></textarea>
    <input type="submit" />
  </form>
</div>
{% endblock %}
