{% extends "encyclopedia/layout.html" %} {% block title %} Add New Entry
{%endblock %} {% block body %}

<div class="row">
  <div class="col">
    <h2>Add New Encyclopedia</h2>
    <form action="{% url 'add' %}" method="POST" class="form">
      {% csrf_token %} {% for field in add_form %}
      <div class="field">
        <label for="{{field.id_for_label}}" class="label col-2 form-text"
          >{{field.field_name}}</label
        >
        {{field}}
      </div>
      {% endfor %}
      <input type="submit" class="mt-2" />
    </form>
  </div>
</div>

{% endblock %}
